.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: lightgray;
    height: 110px;
    margin: 0 auto 10px;
    background: var(--tg-theme-button-color);
    img{
        width: 140px;
    }
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}

h2 {
        text-align: center;
}

